<div class="home_main_content">
    <div class="inner_home_main_content">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-12">
                        <div class="full_main_header">
                            <h4>Competitions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_cards">
                            <div class="inner_section_cards">
                                <div class="card_top_user_bar">
                                    <div class="left_user_tool">
                                        <div class="user_l">
                                            <ul>
                                                <li>
                                                    <div class="u_box bl_1">
                                                        <img src="../../../../assets/img/e1.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_2">
                                                        <img src="../../../../assets/img/e2.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_3">
                                                        <img src="../../../../assets/img/e3.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_4">
                                                        <!-- <img src="../../../../assets/img/e1.png" alt=""> -->
                                                        <div class="blank_box">
                                                            <h4>
                                                                18
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right_user_tool">
                                        <h4>Too late to join</h4>
                                    </div>
                                </div>
                                <div class="card_section_header">
                                    <h3>Weekly Challenges</h3>
                                </div>
                                <div class="all_sub_card">
                                    <div class="card_user_listing c_mb ">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur.png" alt="">
                                            <h4><span>1</span><sup>st</sup></h4>
                                            <img src="../../../../assets/img/m2.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Roger Korsgaard <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gr">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_user_listing c_mb">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur-1.png" alt="">
                                            <h4><span>2</span><sup>nd</sup></h4>
                                            <img src="../../../../assets/img/m2.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Charlie Herwitz <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gr">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_user_listing c_mb rd">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur-2.png" alt="">
                                            <h4><span>3</span><sup>rd</sup></h4>
                                            <img src="../../../../assets/img/m1.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Ahmad Mango <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gl">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom_rating_areas">
                                    <div class="inner_bottom_rating_areas">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="in_wrap">
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <img src="../../../../assets/img/bl.png" alt="">
                                                        </div>
                                                        <div class="col_x_content op">
                                                            <h4>
                                                                Roger K

                                                            </h4>
                                                            <h5>
                                                                rog13k
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <img src="../../../../assets/img/x_bit.png" alt="">
                                                        </div>
                                                        <div class="col_x_content op">
                                                            <h4>
                                                                20,000
                                                            </h4>
                                                            <h5>
                                                                xBits prize
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="in_wrap rl">
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <div class="round_boxs">
                                                                <h4>3</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col_x_content rl">
                                                            <h4>
                                                                Roger K

                                                            </h4>
                                                            <h5>
                                                                rog13k
                                                            </h5>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub_mition_section">
                                    <button>view</button>
                                </div>
                            </div>
                        </div>
                        <div class="section_cards">
                            <div class="inner_section_cards">
                                <div class="card_top_user_bar">
                                    <div class="left_user_tool">
                                        <div class="user_l">
                                            <ul>
                                                <li>
                                                    <div class="u_box bl_1">
                                                        <img src="../../../../assets/img/e1.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_2">
                                                        <img src="../../../../assets/img/e2.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_3">
                                                        <img src="../../../../assets/img/e3.png" alt="">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="u_box bl_4">
                                                        <!-- <img src="../../../../assets/img/e1.png" alt=""> -->
                                                        <div class="blank_box">
                                                            <h4>
                                                                18
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right_user_tool">
                                        <h4></h4>
                                    </div>
                                </div>
                                <div class="card_section_header active_h">
                                    <h3>Double Gain Week Contest</h3>
                                </div>
                                <div class="all_sub_card">
                                    <div class="card_user_listing c_mb ">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur.png" alt="">
                                            <h4><span>1</span><sup>st</sup></h4>
                                            <img src="../../../../assets/img/bbl.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Zain Mango <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gr">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_user_listing c_mb">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur-1.png" alt="">
                                            <h4><span>2</span><sup>nd</sup></h4>
                                            <img src="../../../../assets/img/m2.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Charlie Herwitz <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gr">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_user_listing c_mb rd">
                                        <div class="left_sub_box">
                                            <img src="../../../../assets/img/blur-2.png" alt="">
                                            <h4><span>3</span><sup>rd</sup></h4>
                                            <img src="../../../../assets/img/m1.png" alt="" class="profile_picture">
                                        </div>
                                        <div class="middle_box">
                                            <div class="middle_top">
                                                <div class="title">
                                                    <h4>Ahmad Mango <span><img src="../../../../assets/img/check.png" alt=""></span></h4>
                                                </div>
                                            </div>
                                            <div class="middle_bottom">
                                                <div class="col_1">
                                                    <h3>20</h3>
                                                    <h4>Alerts</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>85%</h3>
                                                    <h4>Win Rate</h4>
                                                </div>
                                                <div class="col_1">
                                                    <h3>11%</h3>
                                                    <h4>Yield</h4>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="right_mid_box">
                                            <div class="inner_right_mid_box gl">
                                                <h3>+ $7,500</h3>
                                                <h4>45%</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom_rating_areas">
                                    <div class="inner_bottom_rating_areas">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="in_wrap">
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <img src="../../../../assets/img/bl.png" alt="">
                                                        </div>
                                                        <div class="col_x_content op">
                                                            <h4>
                                                                Roger K

                                                            </h4>
                                                            <h5>
                                                                rog13k
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <img src="../../../../assets/img/x_bit.png" alt="">
                                                        </div>
                                                        <div class="col_x_content op">
                                                            <h4>
                                                                20,000
                                                            </h4>
                                                            <h5>
                                                                xBits prize
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="in_wrap rl">
                                                    <div class="cox_data_col">
                                                        <div class="colx_user">
                                                            <div class="round_boxs">
                                                                <h4>3</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col_x_content rl">
                                                            <h4>
                                                                Roger K

                                                            </h4>
                                                            <h5>
                                                                rog13k
                                                            </h5>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub_mition_section">
                                    <button>view</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
