.body_black_box {
    background-color: #000;
}

.home_page {
    padding-top: 50px;
}

.home_page>span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.home_page>span>svg {
    width: 100%;
}

.add_more>span>svg {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.add_more>span {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 46px;
    right: 20px;
    z-index: 999;
}
