<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-8 col-sm-8">
                <div class="header_left_side">
                    <div class="im_gl_box">
                        <div class="inner_im_gl_boc">
                            <h4>AG</h4>
                            <img src="../../../../assets/img/gl.png" alt="">
                        </div>
                    </div>
                    <div class="img_im_gl_content">
                        <div class="inner_img_im_gl_content">
                            <div class="top_gl">
                                <h4>Alex G</h4>
                            </div>
                            <div class="bottom_gl">
                                <ul>
                                    <li>
                                        <span class="icon">
                                    <img src="../../../../assets/img/b_x_bit.png" alt="" srcset="">
                                  </span>
                                        <span class="txt_gl">3000 xBits</span>
                                    </li>
                                    <li>
                                        <span class="icon">
                                    <img src="../../../../assets/img/king.png" alt="" srcset="">
                                  </span>
                                        <span class="txt_gl">85</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4 col-sm-4">
                <div class="gl_user_add">
                    <a href="">
                        <span><img src="../../../../assets/img/add.png" alt="" srcset=""></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>